@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

/* Geral */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

/* Header e Nav */

header {
    background-color: #FFBE51;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

header .container {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 40px;
}

nav ul li {
    display: inline-block;
    padding: 5px;
    text-transform: uppercase;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
}

/* Home */

section.home .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

section.home h1 {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 800;
    text-align: left;
    line-height: 55px;
    color: #757575;
}

/* Serviços da Home*/

section.services-home {
    background-color: #E5E5E5;
    padding: 50px 0;
}

section.services-home h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
}

section.services-home .quadrado {
    width: 266px;
    height: 264px;
    background-color: #FFFFFF;
}

section.services-home .artigos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

section.services-home .artigos h3, p {
    font-size: 22px;
}

/* Descrição da Home*/

section.desc .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
    gap: 60px;
}

section.desc .descricao h3{
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
    color: #757575;
}

section.desc .descricao p {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #757575;
}

/* Serviços */

section.services h2 {
    text-transform: uppercase;
    color: #FFBE51;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
}

section.services article{
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 60px;
}

section.services img {
    width: 266px;
    height: 264px;
}

section.services .lateral {
   align-items: center;
   width: 58%;
   margin-bottom: 2.5rem;
}

section.services .lateral h3 {
    text-transform: uppercase;
    font-size: 28px;
}

section.services .lateral span {
    font-size: 22px;
    font-weight: 400;
}

section.services .lateral p {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    text-align: justify;
    line-height: 25px;
    padding-bottom: 20px;
}

section.services .lateral button {
    border: none;
    background-color: #FFC107;
    padding: 8px;
    width: 15rem;
    font-size: 15px;
    font-weight: 800;
    color: #FFFFFF;
    
}

section.services .barrinha {
    width: 100%;
    height: 3px;
    background: #C4C4C4;
    margin: 30px 0;
}

/* Contato */

section.contact .container {
    width: 80%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

section.contact h2 {
    text-transform: uppercase;
    color: #FFBE51;
    font-size: 40px;
    font-weight: 800;
}

section.contact .geral {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.contact .formulario {
    width: 100%;
}

section.contact .formulario button {
    width: 100%;
}

section.contact form ::placeholder {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    padding-left: 10px;
}

section.contact .contatar {
    padding-left: 80px;
}

section.contact .contato p, section.contact .endereco p {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 10px;
}

section.contact .endereco p:first-child {
    padding-top: 25px;
} 

section.contact .contato a {
    text-decoration: none;
    color: #000000;
}

section.contact .mapa {
    padding: 20px 0;
}




/* Trabalhe Conosco */
form input, form textarea, select {
    width: 100%;
    padding: 5px;
    margin: 5px 0 20px;
    resize: none;
}

form button {
    padding: 5px 10px;
    text-transform: uppercase;
    background-color: #FFBE51;
    border: 0;
    color: #FFFFFF;
    font-weight: 600;
}

/* Footer */

footer.footer-1 {
    background-color: #FFBE51;
    padding-top: 30px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

footer .container .footer-contato p {
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 0;
}

footer .container .contato {
    padding-bottom: 30px;
}

footer .container .contato a {
    text-decoration: none;
    color: #000000;
}

footer .container .contato p {
    margin-top: -10px;
}

footer .container .endereco p {
    margin-top: -10px;
}

footer .container .mapa iframe {
    padding-left: 100px;
    padding-bottom: 30px;
    width: 466px;
    height: 257px;
}

footer .copyright {
    background-color: #C4C4C4;
    padding: 1px 0;
}

footer .copyright h4 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

}



